.topfooter{
    display: flex;
    justify-content: center;
    color: #05A0D1;
    background-color: #1a364c;
}

.finfo{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    color: white
    
}

.lowfooter{
    background-color: #152939;
    height: 50px;
}